<ion-header>
  <ion-toolbar>
    <button (click)="toggleMenu()" mat-icon-button  aria-label="Example icon button with a menu icon" slot="start">
      <mat-icon>menu</mat-icon>
    </button>
    <ion-title>Ver las tareas de los empleados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br /><br />
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tareas por hacer
        </mat-panel-title>
        <mat-panel-description>
          Tareas no empezadas por el empleado
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ion-list>
        <ion-row *ngFor="let t of task">

          <ion-item *ngIf="t.stage_name === 'Por hacer'">
            <ion-card style="size: 25px;">
              <ion-card-header>

                <ion-card-subtitle>Name: {{t.name}}</ion-card-subtitle>
                <ion-card-subtitle>Description: {{t.description}}</ion-card-subtitle>
                <ion-card-subtitle>Estado: {{t.stage_name}}</ion-card-subtitle>
                <ion-card-subtitle>Empleado: {{t.user_id}}</ion-card-subtitle>

                
              </ion-card-header>
            </ion-card>
          </ion-item>
        </ion-row>
      </ion-list>
    </mat-expansion-panel>

  </mat-accordion>
  <br /><br />
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tareas empezadas
        </mat-panel-title>
        <mat-panel-description>
          Tareas empezadas por el empleado
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ion-list>
        <ion-row *ngFor="let t of task">


          <ion-item *ngIf="t.stage_name === 'Haciendo'">
            <ion-card>
              <ion-card-header>

                <ion-card-subtitle>Name: {{t.name}}</ion-card-subtitle>
                <ion-card-subtitle>Description: {{t.description}}</ion-card-subtitle>
                <ion-card-subtitle>Estado: {{t.stage_name}}</ion-card-subtitle>
                <ion-card-subtitle>Empleado: {{t.user_id}}</ion-card-subtitle>

              
              </ion-card-header>
            </ion-card>
          </ion-item>

        </ion-row>
      </ion-list>
    </mat-expansion-panel>

  </mat-accordion>

  <br /><br />
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tareas en revisión
        </mat-panel-title>
        <mat-panel-description>
          Tareas esperando a revisión por el responsable
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ion-list>
        <ion-row *ngFor="let t of task">


          <ion-item *ngIf="t.stage_name === 'En revisión'">
            <ion-card>
              <ion-card-header>

                <ion-card-subtitle>Name: {{t.name}}</ion-card-subtitle>
                <ion-card-subtitle>Description: {{t.description}}</ion-card-subtitle>
                <ion-card-subtitle>Estado: {{t.stage_name}}</ion-card-subtitle>
                <ion-card-subtitle>Empleado: {{t.user_id}}</ion-card-subtitle>
              </ion-card-header>
              <ion-item (click)="endATask(t.id)">
                <button mat-mini-fab color="success" slot="end">
                  <mat-icon>navigate_next</mat-icon>
                </button>
              </ion-item>
            </ion-card>
          </ion-item>
         
        </ion-row>
      </ion-list>
    </mat-expansion-panel>

  </mat-accordion>

  <br /><br />
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tareas finalizadas
        </mat-panel-title>
        <mat-panel-description>
          Tareas hechas confirmadas por un responsable
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ion-list>
        <ion-row *ngFor="let t of task">

          <ion-item *ngIf="t.stage_name === 'Hecho'">
            <ion-card id="card">
              <ion-card-header>

                <ion-card-subtitle>Name: {{t.name}}</ion-card-subtitle>
                <ion-card-subtitle>Description: {{t.description}}</ion-card-subtitle>
                <ion-card-subtitle>Estado: {{t.stage_name}}</ion-card-subtitle>
                <ion-card-subtitle>Empleado: {{t.user_id}}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-item>
          
        </ion-row>
      </ion-list>
    </mat-expansion-panel>

  </mat-accordion>
<ion-item id="button">
  <button color="warn" (click)="addTask()" mat-fab  slot="end">
    <mat-icon  >add</mat-icon>
  </button>
</ion-item>
</ion-content>
