<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="home" slot="start"></ion-back-button> 
    <ion-title>Detalles del contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let i of contact" >
    <ion-card-header >
      <img width="150px" height="150px" src="http://localhost:8069/web/image?model=res.partner&id={{i.id}}&field=image_128" alt="prueba">
      <ion-card-title>Nombre: {{i.name}}</ion-card-title>
      <ion-card-subtitle>Compañía o Individual: {{i.company_type}}</ion-card-subtitle>
      <ion-card-subtitle>Job: {{i.function}}</ion-card-subtitle>
      <ion-card-subtitle>Tipo de dirección: {{i.type}}</ion-card-subtitle>
      <ion-card-subtitle>Dirreción de la compañia: {{i.street}}, {{i.city}}, {{i.zip}}</ion-card-subtitle>
     
    </ion-card-header>
    <ion-card-content>
      <ion-item>
      <ion-icon (click)="editContact(i.id, i.name, i.company_type, i.function, i.type, i.street, i.city, i.zip)" name="create" slot="end"></ion-icon>
      <ion-icon (click)="deleteContact(i.id)" name="trash" slot="end"></ion-icon>
    </ion-item>
  </ion-card-content>

  </ion-card>
</ion-content>
