<ion-header [translucent]="true">
  
</ion-header>

  <ion-content>
    <img  src="https://odoocdn.com/openerp_website/static/src/img/assets/png/odoo_logo.png?a=b" alt="prueba">
    <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Ionic_Logo.svg/1280px-Ionic_Logo.svg.png" alt="prueba">
    <br/><br/><br/>
    <h2 style="text-align: center;">¿Que desea hacer?</h2>
    <br/><br/><br/>
      <ion-button style="margin-left: 30%;" id="button" (click) = "goToContacts()" color="medium">Ir a contactos</ion-button><br/><br/><br/>
      <ion-button style="margin-left: 27%;" (click) = "goToAdd()" color="medium">Añadir contactos</ion-button>
  </ion-content>
