<ion-header>
  <ion-toolbar>
    <button (click)="toggleMenu()" mat-icon-button  aria-label="Example icon button with a menu icon" slot="start">
      <mat-icon>menu</mat-icon>
    </button>
    <ion-title>Empleados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-row >
      <ion-col size-lg="6" size-md="6"size="12" *ngFor="let u of user" id="task" >
    <ion-card >
      <ion-card-header>
        
        <ion-card-subtitle>Name: {{u.name}}</ion-card-subtitle>
        <ion-card-subtitle>Job: {{u.function}}</ion-card-subtitle>
        <ion-card-subtitle>E-mail: {{u.login}}</ion-card-subtitle>
        <ion-item>
         
          <ion-icon (click)="seeEmployeeTask(u.id)" color="black" name="accessibility" slot="end"></ion-icon>
          <ion-icon (click)="newTask(u.id)" color="black" name="add" slot="end"></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
      

    </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
