<ion-header>
  <ion-toolbar>
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="session">
    <ion-row >
      <ion-col size-lg="6" size-md="6"size="12" *ngFor="let p of product" id="products" >
    <ion-card >
      <ion-card-header  (click) = "goToDetails(p.id)" >
        <img width="100px" height="100px" src="http://localhost:8069/web/image?model=product.template&field=image_128&id={{p.id}}&unique=" alt="prueba">
        <ion-card-subtitle>Product Name: {{p.name}}</ion-card-subtitle>
        <ion-card-subtitle>Description: {{p.description}}</ion-card-subtitle>
        <ion-card-subtitle>Cost: {{p.list_price}}</ion-card-subtitle>
        <ion-card-subtitle>Category: {{p.product_category}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
