<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="home" slot="start"></ion-back-button> 
    <ion-title>
      Pruebas Odoo CentralU
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>

    <ion-list>
      <ion-row >
        <ion-col size-lg="6" size-md="6"size="12" *ngFor="let i of incidencia" id="products" >
      <ion-card >
        <ion-card-header (click) = "goToDetails(i.id)">
          <img width="100px" height="100px" src="http://localhost:8069/web/image?model=res.partner&id={{i.id}}&field=image_128" alt="prueba">
          <ion-card-subtitle>Name: {{i.name}}</ion-card-subtitle>
          <ion-card-subtitle>Job: {{i.function}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>
</ion-content>
