<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="contactUpdateForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Company</ion-label>
      <ion-select formControlName="company_type" type="text" required>
        <ion-select-option value="company">Company</ion-select-option>
        <ion-select-option value="person">Person</ion-select-option>
        
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Job</ion-label>
      <ion-input formControlName="function" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select formControlName="type" type="text" required>
        <ion-select-option value="contact">Company</ion-select-option>
        <ion-select-option value="invoice">Person</ion-select-option>
        <ion-select-option value="delivery">Delivery</ion-select-option>
        <ion-select-option value="private">Private</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Street</ion-label>
      <ion-input formControlName="street" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input formControlName="city" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Zip</ion-label>
      <ion-input formControlName="zip" type="text" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Update a contact</ion-button>
        <ion-button href="home" color="primary" shape="full" expand="block">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </form>


</ion-content>
