<ion-header>
  <ion-toolbar>
    <ion-title>createTask</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="taskForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre de la tarea</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="description" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha límite</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" formControlName="date_deadline"  type="date" required></ion-datetime>
    </ion-item>
    <ion-item >
      <ion-label>Empleado</ion-label>
      <ion-select formControlName="user_id" type="number"  required>
        <ion-select-option value="{{u.id}}" *ngFor="let u of user">{{u.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Add a new task</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
