<ion-app>
  <ion-menu type="overlay" side="start" menuId="user" contentId="main">
    <ion-header>
      <ion-toolbar color="medium">
        <ion-title>User Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['home']">
          <ion-icon name="home-outline"></ion-icon>

          Home
        </ion-item>
        <ion-item [routerLink]="['cart']">
          <ion-icon name="book-outline"></ion-icon>
          Catalogue
        </ion-item>
        <ion-item [routerLink]="['profile']">
          <ion-icon name="person-circle-outline"></ion-icon>
          My profile
        </ion-item>

        <ion-item [routerLink]="['contact-page']">
          <ion-icon name="business-outline"></ion-icon>
          Contact page
        </ion-item>
        <ion-item [routerLink]="['logout']">
          <ion-icon name="log-out-outline"></ion-icon>
          Log-out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-menu side="start" menuId="admin" contentId="main">
    <ion-header>
      <ion-toolbar color="medium">
        <ion-title>Admin Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['home']">
          <ion-icon name="home-outline"></ion-icon>

          Home
        </ion-item>
        <ion-item [routerLink]="['cart']">
          <ion-icon name="book-outline"></ion-icon>
          Catalogue
        </ion-item>
        <ion-item [routerLink]="['tracker']">
          <ion-icon name="analytics-outline"></ion-icon>
          Edit tracking status
        </ion-item>
        <ion-item [routerLink]="['profile']">
          <ion-icon name="person-circle-outline"></ion-icon>
          My profile
        </ion-item>
        <ion-item [routerLink]="['contact-page']">
          <ion-icon name="business-outline"></ion-icon>
          Contact page
        </ion-item>
        <ion-item [routerLink]="['logout']">
          <ion-icon name="log-out-outline"></ion-icon>
          Log-out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-menu side="start" menuId="guest" contentId="main">
    <ion-header>
      <ion-toolbar color="medium">
        <ion-title>Guest Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['cart']">
          <ion-icon name="book-outline"></ion-icon>
          Almacenes
        </ion-item>
        <ion-item [routerLink]="['home']">
          <ion-icon name="log-in-outline"></ion-icon>
          Log-in
        </ion-item>



      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
