<ion-app>
  <ion-menu type="overlay" side="start" menuId="user" contentId="main">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>User Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item>
        <ion-icon name="moon"></ion-icon>
        <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
      </ion-item>
      <ion-list>
        <ion-item [routerLink]="['home']">
          <ion-icon name="home-outline"></ion-icon>
          Inicio
        </ion-item>
        <ion-item [routerLink]="['products']">
          <ion-icon name="book-outline"></ion-icon>
          Productos
        </ion-item>
        <ion-item [routerLink]="['see-my-own-task']">
          <ion-icon name="calculator-outline"></ion-icon>
          Ver mis tareas
        </ion-item>
        <ion-item [routerLink]="['my-profile']">
          <ion-icon name="person-circle-outline"></ion-icon>
          Ver perfil
        </ion-item>
        <ion-item [routerLink]="['see-adjustment']">
          <ion-icon name="business-outline"></ion-icon>
          Inventario
        </ion-item>
        <ion-item (click)="logout();">
          <ion-icon name="log-out-outline"></ion-icon>
          Log-out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-menu side="start" menuId="admin" contentId="main">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Admin Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item>
        <ion-icon name="moon"></ion-icon>
        <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
      </ion-item>
      <ion-list>
        <ion-item [routerLink]="['home']">
          <ion-icon name="home-outline"></ion-icon>

          Home
        </ion-item>
        <ion-item [routerLink]="['products']">
          <ion-icon name="book-outline"></ion-icon>
          Productos
        </ion-item>
        <ion-item [routerLink]="['see-all-task']">
          <ion-icon name="analytics-outline"></ion-icon>
          Ver todas las tareas
        </ion-item>
        <ion-item [routerLink]="['see-employees']">
          <ion-icon name="person-circle-outline"></ion-icon>
          Empleados
        </ion-item>
        <ion-item [routerLink]="['see-adjustment']">
          <ion-icon name="business-outline"></ion-icon>
          Inventario
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-menu side="start" menuId="guest" contentId="main">
    <ion-item>
      <ion-icon name="moon"></ion-icon>
      <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
    </ion-item>
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Guest Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['cart']">
          <ion-icon name="book-outline"></ion-icon>
          Almacenes
        </ion-item>
        <ion-item [routerLink]="['home']">
          <ion-icon name="log-in-outline"></ion-icon>
          Log-in
        </ion-item>
        <ion-item >
          <mat-icon>help</mat-icon>
          <button mat-menu-item ><a  href="http://localhost:8080/Introduccion.html"  target="blank">Ayuda</a></button>
        </ion-item>



      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
